* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive ,Helvetica, sans-serif;
  font-weight: normal;
}

body {
  background: #4B6A92;
}

.headerClass {
  display: block;
  background-image: url(SeaRestaurant.jpg);
  opacity: 0.9;
  background-repeat: no-repeat;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 1300px;
  text-align: right;
  border-radius: 10px;
  color: white;
  padding-top: 20px;
  padding-right: 35px;
}

.footerClass {
  display: flex;
  height: 250px;
  margin-top: 100px;
  justify-content: space-evenly;
  color: white;
  word-spacing: 2px;
}

.left-Footer {
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  width: 330px;
  height: 220px;
  text-align: center;
  background-color: #1D375A;
}

.middle-Footer {
  padding: 15px;
  border-radius: 10px;
  width: 330px;
  height: 220px;
  text-align: center;
  background-color: #1D375A;
}

.right-Footer {
  padding: 15px;
  border-radius: 10px;
  width: 330px;
  height: 220px;
  text-align: center;
  background-color: #1D375A;
}

.menuBar {
  display: flex;
  flex-direction: column;
  list-style: none;  
  margin-left: 80px;
  margin-top: 150px;
  position: absolute;
  border: solid white 2px;
  border-radius: 4px;
  color: white;
}

.menuTabs {
  padding: 30px;
  border: solid white 2px;
}


.menuTabs:hover {
  background-color: #555;
}